body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 80%;
    height: 80%;
    min-height: 100vh;
    background-color: #c7d3e6;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #3f5378;
    padding: 2vh;
    line-height: 2.0;
    color: white;
}

.logo {
    order: 1;
    align-self: flex-start;
}

.title {
    order: 2;
    text-align: center;
    font-size: 2vw;
}

.content-container {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    font-size: 0.65vw;
    line-height: 1.8vh;
}

.button_cls {
    background-color: #3f5378;
    border: none;
    border-radius: 0.5vh;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 1.5vw;
    margin-bottom: 1vh;
    padding: 0.5vw;
}

h2 {
    margin-top: 4vh;
}

ul, ol {
    margin-left: 1vw;
}

ul ul, ol ol, ul ol, ol ul {
    margin-left: 0.5vw;
}
