<!DOCTYPE html>
<html lang="en-us">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICAIF 2023 Trading Hackathon Challenge</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>


<body>
    <header>
        <img src="/static/figures/JPMC_logo.svg" width="" height="" alt="">
        <h1>
            ICAIF 2023 Trading Hackathon Challenge
        </h1>
        <p>
            This hackathon aims to let participants build an equity trading algorithm that maximizes profit
            by buying and selling stocks, like managing an investment portfolio. Participants will be provided
            access to a certain number of years of historical data for a group of up to 500 stocks. Participants'
            algorithms should review the daily price data and generate orders to buy or sell stocks.
        </p>
        <button onclick="redirectToHomePage()">Home</button>
    </header>
</body>


<script type="text/javascript" src="/static/jscode/scripts.js"></script>

</html>
