<section id="instructions">
    <h1>Welcome to the ICAIF 2023 Trading Hackathon!</h1>
    <p>
        We're excited that you're here to participate in our event. Whether you're a coding novice or an experienced
        developer, this hackathon is designed to provide you with an engaging and challenging experience.</p>
    <p>
        The objective for you in this hackathon is to build an equity trading algorithm that maximizes profit by
        buying and selling stocks (i.e., manage an investment portfolio).  You will be provided access to years of
        historical data for a group of 500 stocks. Your algorithm should step through the data, one day at a time,
        and for each day, generate orders to buy or sell each of the 500 stocks.
    </p>
    <p>
        You can work individually or form a team to work together.
        Best of luck with your projects! We can't wait to see what you come up with!
    </p>

    <h2>Instructions</h2>
    <ol>
        <li>Register your team via the "Register" page.</li>
        <li>You can download the instruction by clicking the button below:<br>
            <a href="/static/files/Trading_Hackathon.pdf" class="download-button">Instruction</a>
        <li>Use the training dataset to develop your trading algorithms/strategies.</li>
        <li>Use the testing dataset to evaluate the performance of your trading algorithms/strategies.</li>
        <li>Also, please use the testing dataset to generate trades files, as mentioned in the instruction.</li>
        <li>Please note that you should NOT develop your trading algorithms/strategies using testing data.</li>
        <li>Submit your project via the "Submit Solution" page.</li>
        <li>The leaderboard will be updated in real-time on the "Leaderboard" page.</li>
    </ol>

    <h2>About The Data</h2>
    <p>
        The data for this hackathon is a synthetic version of the S&P 500, created by AI Research's Synthetic Data group.
        It is intended to be a synthetic version of the market that can be used for testing trading algorithms.
        It is modeled after real data, with accurate similarities and correlations between groups of stocks.

        The data that traders use to inform their trading is classified as "financial data" or "market data."
        Financial data includes information related to a company's financial health, industry, and macroeconomic factors,
        while market data focuses on historical price and volume information.
        Traders analyze these types of data to make informed decisions about buying and selling stocks.
    </p>

    <h2>Your Task</h2>
    <p>
        Your program should operate in the following way, and follow these rules:
    </p>
    <ol>
        <li>Your program should read in over 500 files, as follows:
            <ol>
                <li>the market data (one file)</li>
                <li>the financial data (about 500 files)</li>
                <li>a strategy file, that describes to your algorithm how it should behave</li>
            </ol>
        </li>
        <li>Assume you start with $1,000,000 in cash.</li>
        <li>The program should output a trades file (trades.csv) that lists the trades it would like to make for each day.</li>
    </ol>

    <h2>Evaluation</h2>
    <p>
        We will provide a market simulator, that will read in your trades file, and the market data file,
        then simulate your trades. It will provide some metrics of your trading performance, and charts showing how it did.
        We will evaluate each algorithm according to <b>Sharpe ratio</b>, and <b>total return</b>,
        and provide awards and rankings on each of those metrics.
    </p>
</section>
